.header {
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(40, 40, 40);
  border-bottom: 1px solid rgba(70, 70, 70, 0.5);
}

.communication {
  width: 50%;
  display: flex;
  justify-content: space-around;
}

.samuel-image {
  width: 50px;
  border-radius: 50%;
  border: 1px solid white;
}

.communication a {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  transition: 0.15s;
}

.communication a img {
  width: 45px;
}

.communication a span {
  margin-left: 7px;
}

.comunication a:hover {
  color: #ffd27d;
}

.social-links {
  width: 110px;
  margin-right: 25px;
  display: flex;
  justify-content: space-between;
}

.social-links a img {
  width: 45px;
  border-radius: 50%;
  transition: 0.2s;
}

.social-links a img:hover {
  width: 42px;
  border-radius: 50%;
}

@media screen and (max-width: 1000px) {
  .social-links {
    margin-right: 15px;
  }
  .comunication {
    width: 500px;
  }
  .samuel-image {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .comunication {
    width: 150px;
  }
  .comunication a span {
    display: none;
  }
}
