.home {
  display: flex;
  height: 620px;
  justify-content: space-between;
  background-color: rgb(50, 50, 50);
}

.home main {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.personal-infos {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 30px;
}

.personal-infos h3 {
  font-size: 1.5em;
  margin-bottom: -20px;
}

.personal-infos h1 {
  font-size: 80px;
  margin-bottom: 10px;
}

.personal-infos p {
  font-size: 1.4em;
}

.main-image {
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-image img {
  width: 300px;
  border-radius: 50%;
  border: 1px solid white;
  box-shadow: 7px 7px 7px black;
}

aside {
  display: flex;
  align-self: center;
  height: 90%;
  width: 80px;
  min-width: 80px;
  border-radius: 10px;
  margin-right: 10px;
  background-color: rgb(40, 40, 40);
  border-left: 1px solid rgba(70, 70, 70, 0.5);
  box-shadow: 5px 5px 10px black;
  transition: 0.2s;
}

aside:hover {
  height: 92%;
}

.main-skills-aside {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.main-skills-aside img {
  width: 45px;
  transition: 0.1s;
}

.main-skills-aside img:hover {
  width: 50px;
  cursor: pointer;
}

@media screen and (max-width: 850px) {
  .main-image img {
    width: 250px;
  }
  .personal-infos {
    width: 400px;
  }
}

@media screen and (max-width: 800px) {
  .main-image img {
    width: 200px;
  }
}

@media screen and (max-width: 750px) {
  .main-image img {
    width: 200px;
  }
  aside {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .main-image img {
    width: 150px;
  }
}

@media screen and (max-width: 600px) {
  .main-image {
    display: none;
  }
}

@media screen and (max-width: 450px) {
  .home {
    height: 520px;
  }
  .personal-infos {
    width: 300px;
  }
  .personal-infos h3 {
    font-size: 1.1em;
  }
  .personal-infos h1 {
    font-size: 70px;
  }
  .personal-infos p {
    font-size: 1.2em;
  }
}

@media screen and (max-width: 330px) {
  .home {
    height: 450px;
  }
  .personal-infos {
    width: 280px;
  }
  .personal-infos h3 {
    font-size: 1em;
  }
  .personal-infos h1 {
    font-size: 60px;
  }
  .personal-infos p {
    font-size: 1.1em;
  }
}

@media screen and (max-width: 300px) {
  .home {
    height: 400px;
  }
  .personal-infos {
    width: 270px;
    margin-left: 10px;
  }
  .personal-infos h3 {
    font-size: 1em;
  }
  .personal-infos h1 {
    font-size: 60px;
  }
  .personal-infos p {
    font-size: 0.95em;
  }
}

@media screen and (min-width: 1500px) {
  .home {
    justify-content: center;
  }
  .home main {
    max-width: 1500px;
  }
}