.main-skills {
  padding: 25px 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(39, 39, 39);
}

.main-skills img {
  width: 75px;
}

.main-skills section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 70%;
  margin: 10px 0;
  border: 1px solid rgba(255, 255, 255, 0.212);
  padding: 20px;
  border-radius: 10px;
  transition: 0.2s;
  text-align: center;
}

.main-skills section:hover {
  cursor: pointer;
  border: 1px solid white;
}

section span {
  margin-bottom: 15px;
}

@media screen and (min-width: 2100px) {
  .main-skills section {
    max-width: 1480px;
  }
}

@media screen and (max-width: 580px) {
  .main-skills h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 390px) {
  .main-skills h1 {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 303px) {
  .main-skills h1 {
    font-size: 1.35em;
  }
}
